@model IEnumerable<HealthApp.Models.PrimaryTableSpirit.SpiritListItem>

@{
    ViewBag.Title = "PrimaryTableSpiritIndex";
}

<h2>PrimaryTableSpiritIndex</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HowIViewMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowIViewOthers)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowOtherPerceiveMe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MySocialCircle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyRestHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OutsideMotivation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InternalMotivaiton)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedUtc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModifiedUtc)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HowIViewMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowIViewOthers)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowOtherPerceiveMe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MySocialCircle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MyRestHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OutsideMotivation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InternalMotivaiton)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifiedUtc)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
