@model HealthApp.Models.MuscleGroupTable.MuscleGroupDetail

@{
    ViewBag.Title = "MuscleGroupTableDelete";
}

<h2>MuscleGroupTableDelete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MuscleGroupDetail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MuscleGroupWorkedName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MuscleGroupWorkedName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerId)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
